<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="main-headline">About Sturmol's Berlin bikes</h1>
			<p>Sturmol's Berlin Bikes was founded in 2016 by Miguel Guelbenzu while he was a learning Ruby on rails</p>
			<p>Berlin Bikes is the best solution for finding a nice bike for navigating Berlin</p>
			<ol>
				<li>We offer an assortment of new and used bikes</li>
				<li>All of our used bikes are tuned up by our in-house bike mechanic experts</li>
				<li>We check that all of our bikes are not stolen before we agree to buy them</li>
			</ol>
		</div>
	</div>
</section>

