<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="main-headline">Contact Us</h1>
			<p>Bike Berlin operates in Berlin, Germany</p>
			<p>We have shops all over the city. Please use out store locator below to find one of our bike shops near you.</p>
			<label for="search">Find a Store</label>
			<input type="text">
		</div>
	</div>
</section>