<h1 class="main-headline text-center">Welcome to Sturmol's Bikeshop Berlin</h1>
<h2 class="sub-headline text-center">The Best Place to Find Used Bikes in Berlin</h2>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<p class="h3 text-center"><%= link_to "Epic Deal: 50% Off Team Nike's Official 2016 Tour De France Racer!", products_path%>
			</p>
		<div class="col-xs-12">
			<%= image_tag("bike_1.png", alt:"Racing bike image", class: "img-responsive center-block") %>
		</div><!-- end image container -->
		</div>

	</div><!-- end bootstrap container -->
</div><!-- end boostrap row -->