// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Navigation page styles*/

.navbar-custom {
	boder: 0;
	border-radius: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.9);
	padding: 0;
}

.navbar-custom .navbar-nav {
	margin: 1px -15px 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 32px;
}

.navbar-custom .nav .open > a,
.navbar-custom .nav li a:focus {
	background: none;
	outline: 0;
	color: #fff;
}


.navbar-custom li > a {
	position: relative;
}
.navbar-custom .nav li a:hover,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #F5D76E;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #fff;
}

/* Footer */

.footer-total {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}
.footer-total .footer-left p {
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

// Footer links 

.footer-total p.footer-links {
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-total p.footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-total .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-total .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}
