<!DOCTYPE html>
<html>
<head>
  <title>Bikeshop</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<!-- Fonts -->
	<link href="//fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>
</head>
<body>

<!-- Navigation -->
<div class="content-wrap">
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 h2 brand-logo">Sturmol's Bikes Berlin</div>
        <nav class="col-xs-6 navbar default-navbar">
          <ul class="nav__list h4">
            <li class="nav__list-item">Home</li>
            <li class="nav__list-item">Our Story</li>
            <li class="nav__list-item">Contact Us</li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

	<%= yield %>
	</div>
	<!--FOOTER -->
<footer class="footer">
  <div class="container-fluid">	
    <div class="row">
      <div class="col-xs-6">
        <p class="footer__brand">Made in Berlin by <a class="footer-link" href="http://www.sturmol.com">Miguel Guelbenzu</a></p>
      </div> 
      <div class="col-xs-6">
        <p class="footer__copyright">&copy; 2016 Sturmol Web Development</p>
      </div>      
    </div>
  </div> 
</footer>



</body>
</html>
